<!DOCTYPE html>
<html>
<head>
	<title>SignUP</title>
</head>
<body>
	<h2>Please Registration first</h2>

	<a href="/login">back</a> |
	<a href="/logout">logout</a>

	<form method="post">
		<table>

			<tr>
				<td>Username</td>
				<td><input type="text" name="username"></td>
				<td></td>
			</tr>

			<tr>
				<td>Password</td>
				<td><input type="text" name="password"></td>
				<td></td>
			</tr>

			<tr>
				<td>Type</td>
				<td><input type="radio" name="type" value="Scout" >Scout</td>
				<td><input type="radio" name="type" value="General_User" >General_User</td>
				<td><input type="radio" name="type" value="Admin" >Admin</td>
			</tr>

			<tr>
				<td></td>
				<td><input type="submit" name="" value="Submit"></td>
				<td></td>

			</tr>
			
		</table>
		
	</form>

</body>
</html>