<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
</head>
<body>
	<h2>Edit</h2>

	<a href="/home">back</a> |
	<a href="/logout">logout</a>

	<form method="post">
		<table>

			<tr>
				<td>Id</td>
				<td><input type="text" readonly name="id" value="<%= user.id %>"></td>

			</tr>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" value="<%= user.username %>"></td>
			</tr>

			<tr>
				<td>Password</td>
				<td><input type="text" name="password" value="<%= user.password %>"></td>
			</tr>

		

			<tr>
				<td></td>
				<td><input type="submit" name="" value="Update"></td>

			</tr>
			
		</table>
		
	</form>

</body>
</html>