<!DOCTYPE html>
<html>
<head>
	<title>Add User</title>
</head>
<body>
	<h2>Add </h2>

	<a href="/home2">back</a> |
	<a href="/home2/req_info">View All Requested Info</a> |
	<a href="/logout">logout</a>

	<form method="post">
		<table border="1">
		
		<tr>
			<td>ID</td>
			<td>Country</td>
			<td>Place</td>
			<td>Cost</td>
		
		</tr>
	
		<tr>
			<td><input type="text" readonly name="id"></td>
			<td><input type="text" name="country"></td>
			<td><input type="text" name="place"></td>
			<td><input type="text" name="cost"></td>
			
		</tr>
		
	</table>

	<input type="submit" name="" value="Submit">
		
	</form>

</body>
</html>